html
env
/venv
/.idea
/html
/validate
/logs
/local_vars.py
__pycache__/
*.pyc
/*.txt
*.lock
/debug.log
/test.py
/test_exit.py

helpers/*
/helpers

# Ipython Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb
debug.log

.DS_Store	